
@{
    ViewBag.Title = "Dashboard";
}


<div class="row justify-content-center">
    
    <div class="tm-col tm-col-big">
        <div class="bg-white tm-block h-100">
            <h2 class="tm-block-title">Calendar</h2>
            <div id="calendar"></div>
        </div>
    </div>
    
</div>

